.photo-and-two-cols,
.block_print_number_one {
  background: #ffffff;
  margin: 20px 0 0 0; }
  .photo-and-two-cols__inside,
  .block_print_number_one__inside {
    display: table;
    width: 100%;
    height: 100%; }
  .photo-and-two-cols__table,
  .block_print_number_one__table {
    height: 100%;
    display: table;
    width: 100%; }
    .photo-and-two-cols__table > div:first-child,
    .block_print_number_one__table > div:first-child {
      padding: 0 10px 0 0; }
    .photo-and-two-cols__table > div:last-child,
    .block_print_number_one__table > div:last-child {
      padding: 0 0 0 10px; }
  .photo-and-two-cols .photo-and-two-cols__left,
  .block_print_number_one .photo-and-two-cols__left {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    width: 50%; }
    .photo-and-two-cols .photo-and-two-cols__left .node__cart__item__category_news,
    .block_print_number_one .photo-and-two-cols__left .node__cart__item__category_news {
      left: 20px; }
    .photo-and-two-cols .photo-and-two-cols__left__img,
    .block_print_number_one .photo-and-two-cols__left__img {
      height: 100%;
      position: relative;
      overflow: hidden;
      display: block; }
      .photo-and-two-cols .photo-and-two-cols__left__img img,
      .block_print_number_one .photo-and-two-cols__left__img img {
        width: 100%;
        height: 100%;
        display: block; }
      .photo-and-two-cols .photo-and-two-cols__left__img__info,
      .block_print_number_one .photo-and-two-cols__left__img__info {
        color: #fff;
        padding: 55px 25px 17px 23px;
        position: absolute;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        content: " ";
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.79) 8%, rgba(0, 0, 0, 0.72) 38%, rgba(0, 0, 0, 0) 100%);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .photo-and-two-cols .photo-and-two-cols__left__img__info__title,
        .block_print_number_one .photo-and-two-cols__left__img__info__title {
          color: #fff;
          margin: 0 0 8px 0; }
          .photo-and-two-cols .photo-and-two-cols__left__img__info__title span,
          .block_print_number_one .photo-and-two-cols__left__img__info__title span {
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            transition: all 0.2s ease; }
        .photo-and-two-cols .photo-and-two-cols__left__img__info__description,
        .block_print_number_one .photo-and-two-cols__left__img__info__description {
          color: #fff;
          margin: 0 0 25px 0; }
  .photo-and-two-cols .photo-and-two-cols__right,
  .block_print_number_one .photo-and-two-cols__right {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    width: 50%; }
    .photo-and-two-cols .photo-and-two-cols__right__inside,
    .block_print_number_one .photo-and-two-cols__right__inside {
      width: 100%;
      display: table;
      height: 100%; }
    .photo-and-two-cols .photo-and-two-cols__right .node__cart__item,
    .block_print_number_one .photo-and-two-cols__right .node__cart__item {
      width: 50%; }
      .photo-and-two-cols .photo-and-two-cols__right .node__cart__item__inside,
      .block_print_number_one .photo-and-two-cols__right .node__cart__item__inside {
        margin: 0; }
      .photo-and-two-cols .photo-and-two-cols__right .node__cart__item:first-child,
      .block_print_number_one .photo-and-two-cols__right .node__cart__item:first-child {
        padding: 0 10px 0 0px; }
        .photo-and-two-cols .photo-and-two-cols__right .node__cart__item:first-child .node__cart__item__category_news,
        .block_print_number_one .photo-and-two-cols__right .node__cart__item:first-child .node__cart__item__category_news {
          left: 20px; }
      .photo-and-two-cols .photo-and-two-cols__right .node__cart__item:last-child,
      .block_print_number_one .photo-and-two-cols__right .node__cart__item:last-child {
        padding: 0 0 0 10px; }
    .photo-and-two-cols .photo-and-two-cols__right__item,
    .block_print_number_one .photo-and-two-cols__right__item {
      width: 50%;
      position: relative;
      height: 100%;
      display: table-cell; }
      .photo-and-two-cols .photo-and-two-cols__right__item:first-child,
      .block_print_number_one .photo-and-two-cols__right__item:first-child {
        padding: 0 10px 0 0px; }
      .photo-and-two-cols .photo-and-two-cols__right__item:last-child,
      .block_print_number_one .photo-and-two-cols__right__item:last-child {
        padding: 0 0 0 10px; }
      .photo-and-two-cols .photo-and-two-cols__right__item__inside,
      .block_print_number_one .photo-and-two-cols__right__item__inside {
        background: #f6f6f6;
        height: 100%;
        position: relative; }
        .photo-and-two-cols .photo-and-two-cols__right__item__inside__photo img,
        .block_print_number_one .photo-and-two-cols__right__item__inside__photo img {
          display: block;
          width: 100%; }
        .photo-and-two-cols .photo-and-two-cols__right__item__inside__info,
        .block_print_number_one .photo-and-two-cols__right__item__inside__info {
          padding: 15px 20px; }
          .photo-and-two-cols .photo-and-two-cols__right__item__inside__info__title,
          .block_print_number_one .photo-and-two-cols__right__item__inside__info__title {
            color: #000;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease; }
          .photo-and-two-cols .photo-and-two-cols__right__item__inside__info__description,
          .block_print_number_one .photo-and-two-cols__right__item__inside__info__description {
            margin: 9px 0 43px 0;
            color: #000; }
          .photo-and-two-cols .photo-and-two-cols__right__item__inside__info__time,
          .block_print_number_one .photo-and-two-cols__right__item__inside__info__time {
            position: absolute;
            bottom: 16px; }
      .photo-and-two-cols .photo-and-two-cols__right__item:hover .photo-and-two-cols__right__item__inside,
      .block_print_number_one .photo-and-two-cols__right__item:hover .photo-and-two-cols__right__item__inside {
        background: #efefef; }
      .photo-and-two-cols .photo-and-two-cols__right__item:hover .photo-and-two-cols__right__item__inside__info__title,
      .block_print_number_one .photo-and-two-cols__right__item:hover .photo-and-two-cols__right__item__inside__info__title {
        color: #000; }
  .photo-and-two-cols .photo-and-two-cols__item,
  .block_print_number_one .photo-and-two-cols__item {
    display: block;
    height: 100%;
    position: relative; }

.block_print_number_one {
  margin: 20px 0 20px 0; }

@media (max-width: 1200px) {
  .photo-and-two-cols .photo-and-two-cols__left__img__info__title {
    margin: 0 0 5px 0; } }
@media (max-width: 1150px) {
  .photo-and-two-cols .photo-and-two-cols__right__item__inside__info__time {
    bottom: 35px; }
  .photo-and-two-cols .photo-and-two-cols__right__item .views_and_comments {
    left: 20px;
    right: auto; } }
@media (min-width: 700px) and (max-width: 940px) {
  .photo-and-two-cols__table {
    display: block; }

  .photo-and-two-cols .photo-and-two-cols__left {
    display: block;
    width: 100%;
    padding: 0 !important; }
  .photo-and-two-cols .photo-and-two-cols__right {
    padding: 0 !important; } }
@media (max-width: 768px) {
  .photo-and-two-cols {
    margin: 10px 0; } }
@media (max-width: 992px) {
  .photo-and-two-cols .photo-and-two-cols__right .node__cart__item:first-child .node__cart__item__category_news {
    left: 0; }

  .photo-and-two-cols .photo-and-two-cols__left .node__cart__item__category_news,
  .block_print_number_one .photo-and-two-cols__left .node__cart__item__category_news {
    left: 0; } }
@media (max-width: 990px) {
  .photo-and-two-cols {
    padding: 5px 0 5px 0;
    margin: 0; }
    .photo-and-two-cols .photo-and-two-cols__right .node__cart__item:first-child {
      padding: 0 5px 0 0px; }
    .photo-and-two-cols .photo-and-two-cols__right .node__cart__item:last-child {
      padding: 0 0 0px 5px;
      margin: 0 !important; }
    .photo-and-two-cols .photo-and-two-cols__right .node__cart__item__category_news {
      left: 5px; }
    .photo-and-two-cols__table > div:first-child {
      padding: 0 5px 0 0 !important; }
    .photo-and-two-cols__table > div:last-child {
      padding: 0 0 0 5px !important; }
    .photo-and-two-cols__item {
      margin: 0; } }
@media (max-width: 940px) {
  .photo-and-two-cols__table > div:first-child {
    padding: 0 0 10px 0 !important; }
  .photo-and-two-cols__table > div:last-child {
    padding: 0 0 0 0 !important; } }
@media (max-width: 767px) {
  .photo-and-two-cols .photo-and-two-cols__right .node__cart__item__category_news {
    left: 0; } }
