
.ticker-block-container {
  overflow: inherit !important;
  clear: both;
}

.ticker-wrapper {
  height: 48px;
  overflow: hidden;
  margin: 20px 0; }
  .ticker-wrapper.inside_page {
    width: 100%;
    height: 33px;
    background: #fff;
    margin: 0;
    padding: 0 !important; }
  .ticker-wrapper .ticker {
    background: #383830;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzQ4NDg0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iIzRkNGQ0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTRlNDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #383830 0%, #484840 20%, #4d4d45 39%, #4e4e46 100%);
    background: -webkit-linear-gradient(left,  #383830 0%,#484840 20%,#4d4d45 39%,#4e4e46 100%);
    background: linear-gradient(to right,  #383830 0%,#484840 20%,#4d4d45 39%,#4e4e46 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383830', endColorstr='#4e4e46',GradientType=1 );

    color: #fff;
    opacity: 0;
    visibility: hidden;
  }
    .ticker-wrapper .ticker .four-col-news__list__row {
      display: block;
      height: auto;
      padding: 0; }
    .ticker-wrapper .ticker .marquee {
      display: block;
      overflow: hidden;

    }
    .ticker-wrapper .ticker.started {
      opacity: 1;
      visibility: visible;
    }
    .ticker-wrapper .ticker_item {
      padding: 12px 19px;
      display: inline-block;
      vertical-align: top;
      color: #fff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin: 0 -4px 0 0;
      line-height: 11px;
    }
      .ticker-wrapper .ticker_item.no_category {
        padding: 15px 19px; }
        .ticker-wrapper .ticker_item.no_category .ticker_item__inside__type div {
          margin: 0px 0 0 0; }
      .ticker-wrapper .ticker_item__inside__type {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 4px 10px 3px 10px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px solid #fff;
        margin: 0 5px 0 0; }
        .ticker-wrapper .ticker_item__inside__type div {
          font-weight: bold;
          margin: 1px 0 0 0; }
      .ticker-wrapper .ticker_item__inside__category {
        display: inline-block;
        vertical-align: middle;
        padding: 4px 10px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px solid #fff;
        margin: 0 5px 0 0; }
      .ticker-wrapper .ticker_item__inside__label {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 1px 0 0 0;
        text-transform: uppercase; }
        .ticker-wrapper .ticker_item__inside__label__urgently {
          display: inline-block;
          vertical-align: top;
          font-weight: bold;
          text-transform: uppercase; }
        .ticker-wrapper .ticker_item__inside__label__news {
          display: inline-block;
          vertical-align: top; }
      .ticker-wrapper .ticker_item.urgently {
        background: #e2001b;
        color: #fff; }
        .ticker-wrapper .ticker_item.urgently .ticker_item__inside__category {
          border: 1px solid #fff; }
        .ticker-wrapper .ticker_item.urgently:hover {
          background: #6a32a7;
          color: #fff; }
          .ticker-wrapper .ticker_item.urgently:hover .ticker_item__inside__category {
            border: 1px solid #fff; }
      .ticker-wrapper .ticker_item:hover {
        background: #6a32a7; }
    .ticker-wrapper .ticker.scroll {
      position: fixed;
      top: 49px;
      z-index: 8;
      max-width: 1366px;
      width: 100%;
      margin: 0 auto; }
      .ticker-wrapper .ticker.scroll.stop_scroll {
        top: 0 !important;
        position: relative; }
      .ticker-wrapper .ticker.scroll .ticker_item {
        padding: 5px 10px; }
        .ticker-wrapper .ticker.scroll .ticker_item.no_category {
          padding: 8px 10px; }
        .ticker-wrapper .ticker.scroll .ticker_item__inside__label {
          display: inline-block;
          vertical-align: middle; }
        .ticker-wrapper .ticker.scroll .ticker_item__inside__category {
          padding: 5px 10px 4px 10px;
          font-size: 11px; }
      .ticker-wrapper .ticker.scroll.admin {
        top: 126px; }

.inside_page .ticker-wrapper {
  height: 33px;
  background: #fff; }
.inside_page .ticker_item__inside__label {
  font-size: 16px !important;
  text-transform: inherit;
  margin: -2px 0 0 0;
  letter-spacing: 0px; }

.ticker-block-container.landing,
.landing .ticker-block-container {
  display: none !important; }
  .ticker-block-container.landing .ticker-wrapper .ticker.scroll,
  .landing .ticker-block-container .ticker-wrapper .ticker.scroll {
    max-width: none; }

body.five-tv-style .ticker_item:hover {
  background: #c10e39; }
body.ren-tv-style .ticker_item:hover {
  background: #e97b33; }

@media (min-width: 700px) and (max-width: 840px) {
  .ticker-wrapper {
    clear: both;
    padding: 0px 0 0 0; } }
